menuconfig INV_SENSORS_COMPASS
	bool "Compass Slave Sensors"
	default y
	---help---
	  Say Y here to get to see options for device drivers for various
	  compasses. This option alone does not add any kernel code.
	  If you say N, all options in this submenu will be skipped and disabled.

if INV_SENSORS_COMPASS

config MPU_SENSORS_AK8975_411
	tristate "AKM ak8975"
	help
	  This enables support for the AKM ak8975 compass
	  This support is for integration with the MPU3050 or MPU6050 gyroscope
	  device driver.  Only one compass can be registered at a time.
	  Specifying more that one compass in the board file will result
	  in runtime errors.

config MPU_SENSORS_AK8975_SELFTEST
	bool "Self-test of AKM ak8975 sensor"
	depends on MPU_SENSORS_AK8975_411
	default n
	help
	  Say Y here if you want support for self-test of the AKM ak8975 sensor
	  device.

endif
